@model Data.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="http://localhost:57784/Scripts/bootstrap.min.js"></script>
    <script src="http://localhost:57784/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Add Product</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="editor-label">
                                Name
                            </div>
                            <div class="editor-label">
                                <input type="text" id="txtName" />
                            </div>

                            <div class="editor-label">
                                Price
                            </div>
                            <div class="editor-label">
                                <input type="number" id="txtPrice" />
                            </div>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btnAdd" onclick="Add();">Add</button>                    
                </div>
            </div>
            </div>
        </div>
            </body>
</html>
            <script>
                $(document).ready(function () {
                });
                function Add(){
                    // debugger;
                    //var data = $("#form - horizontal").serialize();
                    $.ajax(
                        {
                            type: "POST", //HTTP POST Method
                            url: "/Product/Create", // Controller/View
                            data: { //Passing data
                                Name: $("#txtName").val(), //Reading text box values using Jquery
                                Price: $("#txtPrice").val(),
                            },
                            sucess: function (response) {
                                $(document).empty()
                            }

                        });

                };
               

                   

            </script>
